name: lint workflows

on:
  push:
    branches-ignore: [main]
  pull_request:
    branches: [main]

permissions: {}

jobs:
  lint-workflows:
    permissions:
      contents: read
      packages: read
      pull-requests: write
      statuses: write
    uses: senzing-factory/build-resources/.github/workflows/lint-workflows.yaml@v4
